<h1>GET COOL URL</h1>

<p><%= @value3 %>, apa you tengok-tengok?<br><%= @value5 %></p>
<br>
your fav dairy is: <%= @radio1 %><br>
your fav drink is: <%= @radio2 %><br>
You said you were sexy?<%= @check1 %><br>
why are you here?<%= @dropdown1 %><bt>

